<h2>Cohort Reports</h2>

<%= form_for @metric_search, :url => cohortly_reports_path, :html =>
{:method => :get, :class => 'cohortly_report_form'} do |f| %>
  <h3>Groups Union</h3>
  <%= render :partial => 'cohortly/metrics/groups' %>
  <h3>Groups Intersect</h3>
  <%= render :partial => 'cohortly/metrics/groups_intersect' %>
  <h3>Tags</h3>
  <%= render :partial => 'cohortly/metrics/tags' %>
  <%= f.submit 'Get Report'%>
  <div class="result_table">
  </div>
<% end %>
