<tr class="<%= cycle('odd', 'even') %>">
  <td><%= metric.user_id %></td>
  <td><%= metric.username %></td>
  <td><%= metric.created_at.strftime("%m/%d/%Y %H:%M") %></td>
  <td><%= metric.controller %></td>
  <td><%= metric.action %></td>
  <td><%= (metric.tags - Cohortly::TagConfig.all_groups).sort.join(', ')  %></td>
</tr>
