<tr>
  <td><%= metric.user_id %></td>
  <td><%= metric.user_email %></td>
  <td><%= metric.created_at %></td>
  <td><%= metric.controller %></td>
  <td><%= metric.action %></td>
  <td><%= metric.tags.inspect %></td>
</tr>